html,
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(193,2,245);
    background: linear-gradient(163deg, rgba(193,2,245,1) 0%, rgb(87, 12, 184) 40%, rgb(35, 16, 179) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
